body {
    background-color: rgb(206, 255, 217);
}
.big-title {
    font-size: 10rem;
    color:chartreuse;
    font-family:fantasy;
}
.margin-50{
    margin: 50px;
}
.border{
    border: 2px solid black;
    background-color: aliceblue;
    display: inline;
}
